env:
  matrix:
  - MYCONDAPY=2.7

# Do not use Travis Python to save some time.
language: python
os:
- linux
- osx
dist: trusty
sudo: false

matrix:
  fast_finish: true
  allow_failures:
  - os: osx

cache:
  directories:
  - $HOME/chimera

branches:
  only:
  - master
  - /^v[0-9]+\.[0-9]+(\.[0-9]+)?([abc][0-9]*)?$/  # release branches

before_install:
# Get Chimera
- wget https://raw.githubusercontent.com/insilichem/pychimera/master/scripts/install_chimera.sh
- if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
    if [[ ! -e $HOME/chimera/bin/chimera ]]; then
      bash install_chimera.sh;
    fi;
    export CHIMERADIR="$HOME/chimera";
  else
    if [[ ! -e $HOME/chimera/Chimera.app/Contents/Resources/bin/chimera ]]; then
      bash install_chimera.sh;
      rm -rf $HOME/chimera/Chimera.app/Contents/Resources/lib/python2.7/site-packages/{AutoDockTools,MolKit,PyBabel,mglutil,mmLib,mslib};
      rm -rf $HOME/chimera/Chimera.app/Contents/Resources/lib/python2.7/site-packages/setuptools*;
    fi;
    export CHIMERADIR="$HOME/chimera/Chimera.app/Contents/Resources";
  fi
# Get miniconda. Take the right version, so re-installing python is hopefully not needed.
- if test -e $HOME/miniconda/bin; then
    echo "miniconda already installed.";
  else
    echo "Installing miniconda.";
    rm -rf $HOME/miniconda;
    mkdir -p $HOME/download;
    if [[ -d $HOME/download/miniconda.sh ]]; then rm -rf $HOME/download/miniconda.sh; fi;
    if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O $HOME/download/miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-MacOSX-x86_64.sh -O $HOME/download/miniconda.sh;
    fi;
    bash $HOME/download/miniconda.sh -b -p $HOME/miniconda;
  fi
install:
# Configure conda and get a few essentials
- source $HOME/miniconda/etc/profile.d/conda.sh
- conda activate
- conda config --set always_yes yes
- conda config --remove-key channels || true
- conda config --add channels conda-forge
- conda config --add channels bioconda
- conda config --add channels salilab
- conda config --add channels omnia
- conda config --add channels insilichem
- conda config --add channels defaults
- conda install -q conda conda-build
# ProDy needs an updated NumPy. Other updates are also included here.
- if [ "${TRAVIS_OS_NAME}" = "osx" ]; then
    pip install -U numpy==1.12 python-dateutil -t $HOME/chimera/Chimera.app/Contents/Resources/lib/python2.7/site-packages;
  fi;

# Show conda info for debugging
- conda info -a
- env | sort

script:
- conda build conda-recipe -c local

before_deploy:
- conda install -q anaconda-client

deploy:
  # Deploy to Anaconda.org
  - provider: script
    script: anaconda -t $ANACONDA_TOKEN upload -u insilichem $HOME/miniconda/conda-bld/**/gaudi-*.tar.bz2
    skip_cleanup: true
    on:
      tags: true
