include README.rst
include CITATION.rst
include LICENSE
include environment.yml
include .gitignore
recursive-include docs *
recursive-include examples *
recursive-include resources *
recursive-include tests *include versioneer.py
include gaudi/_version.py
include versioneer.py
